@reference "./global.css";

[data-element="Fusion"] { --accent: rgb(216, 103, 83); }
[data-element="Aero"] { --accent: rgb(119, 214, 135); } 
[data-element="Glacio"] { --accent: rgb(100, 208, 235); }  
[data-element="Electro"] { --accent: rgb(182, 66, 211); } 
[data-element="Spectro"] { --accent: rgb(255, 253, 125); } 
[data-element="Havoc"] { --accent: rgb(175, 59, 131); } 

[char-rarity="5"]{ --text: rgb(247, 239, 131); } 
[char-rarity="4"]{ --text: rgb(219, 70, 233); } 


@layer components {
    .weapon-icon-wrapper,
    .element-icon-wrapper { @apply
        w-30 h-10
        flex !border-3 border-white rounded-[20px] justify-center
        bg-[rgba(255,255,255,0.06)] items-center gap-2 !px-2.5
    }
    .element-icon-wrapper{
        @apply !border-[color:var(--accent)]
    }   
}

.level-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 6px;
  background: linear-gradient(
    to right,
    var(--accent) var(--p, 50%),
    #fff var(--p, 50%)
  );
  outline: none;
  cursor: pointer;
}

.level-slider::-webkit-slider-runnable-track {
  height: 10px;
  border-radius: 6px;
  background: linear-gradient(
    to right,
    var(--accent) var(--p, 50%),
    #fff var(--p, 50%)
  );
}

.level-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--accent);
  border: 2px solid #fff;
  margin-top: -3px;
  cursor: pointer;
}

.level-slider::-webkit-slider-thumb:hover{
    transform: scale(1.2);
}

.dmg {
  color: var(--accent); 
  font-weight: 600;
}

.keyword {
    color: rgb(255, 241, 118)
}

@layer components {
    .char-skill-basic,
    .char-skill-skill,
    .char-skill-liberation,
    .char-skill-forte,
    .char-skill-inherent,
    .char-skill-inout {
        @apply border-0 border-solid border-[color:#ffffff] 
        rounded-[15px] p-5 shadow-[0_8px_24px_rgba(0,0,0,0.3)];
  }
  .wrapper-title-name {
    @apply flex items-baseline justify-between !px-3 !py-2 w-full
     bg-[rgb(60,62,90)] rounded-t-[15px]
  }

  .char-skill-sub {
    @apply text-[#FFF176] !font-semibold !text-base
  }

  .char-skill-title,
  .char-skill-name {
    @apply text-[var(--accent)] !text-base !font-semibold
  }

  .char-skill-list {
    @apply flex flex-col list-none !mb-4 !px-2
  }

  .char-skill-row {
    @apply flex flex-col !mt-4
  }

    .inherent,
    .intro,
    .outro{
    @apply flex flex-col gap-y-4 border-0 border-solid border-[color:#ffffff] 
    rounded-[15px] p-5 shadow-[0_8px_24px_rgba(0,0,0,0.3)]
  }

  .char-chain-detail{
    @apply !px-5 !py-2 mb-4 bg-[#ffffff08] rounded-[8px] 
    !border-l-[3px] !border-[var(--accent)]
  }
}











