
.footer {
    background:  rgb(52, 53, 65);
    flex-direction: column;
    display: flex;
    align-items: center;

}

.footer .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  width:70%;
  place-items: center;
}


.footer .card {
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 0.5rem;           
  padding: 0.5rem .75rem;
  border: 1px solid #22283a;
  background: rgb(26,38,75);
  border-radius: 24px;
  width: 100px;
  
}

.footer .card:hover{
  transform: scale(1.05);
}

.footer .icon { font-size: 2rem; color: #fff; }
.footer .cardtext { font-weight: 600; color: #fff; }

.footer small {
  margin-top: 1rem;
  margin-bottom: 1rem;;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
