.homebody{
  margin: -2rem auto;           
  width: min(800px, 92vw);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homebody .title{
    color: var(--accent);
    font-size: 2rem;
    font-weight: 800;
}

.homebody .subtitle{
    font-weight: 600;
    font-size: 1.2rem;
    margin-inline: 10%;
    text-align: center;
}

.card_container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0 20px;             
}

.card_img {
    width: 125px;
    height: 125px;
    margin-bottom: 5px;
}

.link {
    width: 170px;
    height: 170px;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid, rgb(82, 82, 216);
    justify-content: center;
    background-color: rgb(34, 35, 48);
    border-radius: 7.5px;
}

.link:hover{
    cursor: pointer;
    background-color: rgb(27, 27, 37);
}

.note{
    margin-top: 15px;
    font-weight: 600;
    font-size: 1.2rem;
}