@reference "./global.css";

@layer components {
  .home-links {
    @apply flex flex-col items-center justify-center
           w-30 h-30 rounded-xl text-white bg-white/5
           !border-3 !border-solid !border-[var(--border)]
           md:w-38 md:h-38
           lg:w-44 lg:h-44
           xl:w-50 xl:h-50;                
  }

  .card_img { @apply w-22 h-22 object-contain md:w-26 md:h-26
    lg:w-30 lg:h-30
    xl:w-34 xl:h-34; }

  .home-links:hover { @apply bg-[#2f3152] }

  .card_description {
    @apply text-sm md:text-base lg:text-lg xl:text-xl
  }
}

